# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage
*.lcov

# Next.js
/.next/
/out/
.next
out

# Production
/build
/dist

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Prisma
/prisma/migrations

# Sentry
.env.sentry-build-plugin
.sentryclirc

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
.cache/
.parcel-cache
.turbo
.prettiercache
.eslintcache

# Temporary files
*.tmp
*.temp
*~

# IDE
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini
Thumbs.db
